﻿/**
 ==================================================
 * Name: Mega business - Corporate, Business,  Html5 Template
 * Version: 1.1
 * Author: Theembazaar
 * Author URL: http://www.theembazaar.com
 ===================================================
 */

/*Table Content
 =================================================
 * BASIC STYLE
 - Typography Style
 - Padding and Margin Style
 - General Style
 - Box Hover Style
 - Form Style

 * HEADER
 - Header Style
 - Header style 2
 - Navigation Menu

 * FOOTER

 * ELEMENTS
 - Main Banner
 - Page Intro
 - Testimonial
 - Pagination Navigation
 - Sidebar Widget
 - blog Section
 - Partner Section
 - About Us Page
 - Timeline Section
 - Team
 - Serve
 - Faq Page
 - 404 page
 - Blog Page
 - Register and login Pages
 - Contact Page
 - Preloader
 ================================================
 */

/*-------------------------------------------------------------------------------------------*/
/* BASIC STYLE    ||---------------------------- */
/*-------------------------------------------------------------------------------------------*/
body, html {
	margin: 0;
	padding: 0;
}
body {
	line-height: 24px;
	color: #323232;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
/*  Typography Style   ||-----------*/
h1 {
	font-size: 60px;
	margin-top: 0;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	position: relative;
}
h1 span {
	position: relative;
}
h1:before {
	content: attr(data-title);
	font-size: 61px;
	margin-top: 0;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	position: absolute;
	top: 4px;
	left: 3px;
	color: rgba(6, 60, 54, 0.08);
	z-index: 0;
}
h2 {
	font-size: 30px;
	margin-top: 0;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
}
h5 {
	font-size: 15px;
	line-height: 1.5;
	font-weight: 800;
}
h6 {
	font-size: 13px;
	letter-spacing: 2px;
	line-height: 17px;
	font-weight: 800;
}
h3, h4, h5, h6 {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	margin-top: 10px
}
h2 span, h3 span {
	font-weight: 300;
}
a:hover, a:focus {
	text-decoration: none;
	outline: none;
}
a {
	color: #333;
}
/*  Padding and Margin Style   ||-----------*/
.no-padding {
	padding: 0 !important;
}
.padding-20 {
	padding: 20px;
}
.padding-30 {
	padding: 30px !important;
}
.padding-40 {
	padding: 40px !important;
}
.padding-60 {
	padding: 60px;
}
.plr-0 {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.pl-0 {
	padding-left: 0;
}
.pr-0 {
	padding-right: 0;
}
.pr-30 {
	padding-right: 30px;
}
.pl-70 {
	padding-left: 70px;
}
.pr-70 {
	padding-right: 70px;
}
.plr-20 {
	padding-left: 20px;
	padding-right: 20px;
}
.ptb-0 {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}
.pt-0 {
	padding-top: 0px !important;
}
.pb-0 {
	padding-bottom: 0px !important;
}
.pt-30 {
	padding-top: 30px !important;
}
.ptb {
	padding-top: 80px;
	padding-bottom: 80px;
}
.pt {
	padding-top: 110px;
}
.pb {
	padding-bottom: 110px;
}
.ptb-15 {
	padding-top: 15px;
	padding-bottom: 15px;
}
.pt-15 {
	padding-top: 15px;
}
.pb-15 {
	padding-bottom: 15px;
}
.ptb-60 {
	padding-top: 80px;
	padding-bottom: 80px;
}
.pt-60 {
	padding-top: 60px;
}
.pb-60 {
	padding-bottom: 60px;
}
.pb-40 {
	padding-bottom: 40px;
}
.ptb-40 {
	padding-bottom: 40px;
	padding-top: 40px;
}
.ptb-80 {
	padding-top: 80px;
	padding-bottom: 80px;
}
.pt-80 {
	padding-top: 80px;
}
.pb-80 {
	padding-bottom: 80px;
}
.pt-50 {
	padding-top: 50px;
}
.pb-50 {
	padding-bottom: 50px;
}
.pb-70 {
	padding-bottom: 70px;
}
.pb-38 {
	padding-bottom: 38px;
}
.mtb-0 {
	margin-top: 0px;
	margin-bottom: 0px;
}
.mlr-0 {
	margin-left: 0px;
	margin-right: 0px;
}
.mt-0 {
	margin-top: 0px !important;
}
.mb-0 {
	margin-bottom: 0px !important;
}
.ml-0 {
	margin-left: 0px !important;
}
.mr-0 {
	margin-right: 0px !important;
}
.mtb-80 {
	margin-top: 80px;
	margin-bottom: 80px;
}
.mt-20 {
	margin-top: 20px;
}
.mt-80 {
	margin-top: 80px;
}
.mb-80 {
	margin-bottom: 80px;
}
.mtb-60 {
	margin-top: 60px;
	margin-bottom: 60px;
}
.mt-60 {
	margin-top: 60px;
}
.mb-60 {
	margin-bottom: 60px;
}
.mtb-45 {
	margin-top: 45px;
	margin-bottom: 45px;
}
.mt-45 {
	margin-top: 45px;
}
.mb-45 {
	margin-bottom: 45px;
}
.mt-40 {
	margin-top: 40px;
}
.mb-35 {
	margin-bottom: 35px;
}
.mb-20 {
	margin-bottom: 20px;
}
.mtb-30 {
	margin-top: 30px;
	margin-bottom: 30px;
}
.ml-15 {
	margin-left: 15px;
}
.mt-30 {
	margin-top: 30px;
}
.mb-30 {
	margin-bottom: 30px;
}
.ml-30 {
	margin-left: 30px;
}
.mr-30 {
	margin-right: 30px;
}
.mtb-25 {
	margin-top: 25px;
	margin-bottom: 25px;
}
.mt-25 {
	margin-top: 25px;
}
.mb-25 {
	margin-bottom: 25px;
}
.mtb-15 {
	margin-top: 15px;
	margin-bottom: 15px;
}
.mt-15 {
	margin-top: 15px;
}
.mt-10 {
	margin-top: 10px;
}
.mb-15 {
	margin-bottom: 15px;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.mt-up {
	margin-top: -100px;
}
@media (min-width: 768px) and (max-width: 991px) {
.mt-sm-30 {
	padding-top: 30px;
}
.float-none-sm {
	float: none !important;
}
.float-left-sm {
	float: left !important;
}
.float-right-sm {
	float: right !important;
}
.pl-sm-0 {
	padding-left: 0 !important;
}
.plr-xs-15 {
	padding-right: 15px;
	padding-left: 15px;
}
.mb-sm-30 {
	margin-bottom: 30px;
}
.padding-sm-25 {
	padding: 25px;
}
}
@media (max-width: 767px) {
.text-xs-left {
	text-align: left;
}
.pr-xs-0 {
	padding-right: 0;
}
.pl-xs-0 {
	padding-left: 0;
}
.pr-xs-0 {
	padding-right: 0;
}
.plr-xs-15 {
	padding-right: 15px;
	padding-left: 15px;
}
.padding-sm-25 {
	padding: 25px;
}
.pb-xs-30 {
	padding-bottom: 30px;
}
.pt-xs-60 {
	padding-top: 60px;
}
.ptb-xs-40 {
	padding-top: 40px;
	padding-bottom: 40px;
}
.pt-xs-40 {
	padding-top: 40px;
}
.pb-xs-40 {
	padding-bottom: 40px;
}
.pb-xs-60 {
	padding-bottom: 60px;
}
.ptb-xs-60 {
	padding-top: 60px;
	padding-bottom: 60px;
}
.ml-xs-0 {
	margin-left: 0;
}
.mtb-xs-0 {
	margin-top: 0px;
	margin-bottom: 0px;
}
.mt-xs-0 {
	margin-top: 0px;
}
.mb-xs-0 {
	margin-bottom: 0px;
}
.mtb-xs-15 {
	margin-top: 15px;
	margin-bottom: 15px;
}
.mt-xs-15 {
	margin-top: 15px;
}
.mb-xs-15 {
	margin-bottom: 15px;
}
.mtb-xs-30 {
	margin-top: 30px;
	margin-bottom: 30px;
}
.mt-xs-30 {
	margin-top: 30px;
}
.mb-xs-30 {
	margin-bottom: 30px;
}
.float-none-xs {
	float: none !important;
}
.float-left-xs {
	float: left !important;
}
.float-right-xs {
	float: right !important;
}
}
/*  General Style   ||-----------*/
.no-brdr {
	border: none !important;
}
.left-bg {
	position: relative;
}
.right-bg {
	position: relative;
}
.left-bg:before {
	content: '';
	width: 50%;
	height: 100%;
	background: #000;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
}
.right-bg {
	position: relative;
}
.right-bg:before {
	content: '';
	width: 36%;
	height: 100%;
	background: #000;
	position: absolute;
	top: 0;
	right: 0;
	display: block;
}
.color {
	color: #daa106;
}
.light-color * {
	color: #fff;
}
.italic {
	font-style: italic;
}
.about-block p {
	line-height: 2;
}
.v-align {
	display: inline-block;
	vertical-align: top;
}
.btn-text {
	font-size: 13px;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	line-height: 60px !important;
	border: 2px solid #daa106;
	padding: 0 40px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	background: #daa106;
	min-width: 172px;
	height: 60px;
	text-align: center;
	-webkit-transition: all 0.2s linear 0s !important;
	-moz-transition: all 0.2s linear 0s !important;
	-ms-transition: all 0.2s linear 0s !important;
	-o-transition: all 0.2s linear 0s !important;
	transition: all 0.2s linear 0s !important;
}
.small-btn {
	padding: 10px 30px;
}
.btn-text:hover {
	background: none;
	color: #daa106;
	text-decoration: none;
}
.icon-box {
	width: 80px;
	height: 80px;
	line-height: 80px;
	background-color: #3bafda;
	margin: 20px auto;
	color: #fff;
	font-size: 25px;
	text-align: center;
	display: block;
	border-radius: 50%;
}
.width-25per {
	width: 25%;
}
.width-75per {
	width: 75%;
}
@media (min-width: 768px) and (max-width: 991px) {
.width-25per {
	width: 30%;
}
.width-75per {
	width: 70%;
}
}
@media (max-width: 767px) {
.width-25per {
	width: 100%;
}
.width-75per {
	width: 100%;
}
}
.half-width {
	width: 50%;
}
@media (max-width: 767px) {
.half-width {
	width: 100%;
}
.img-responsive {
	width: 100%;
}
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.height-300 {
	height: 300px;
}
.height {
	height: 250px;
}
.border {
	border: 1px solid #ccc;
}
.about-block {
	-webkit-transition: all 0.4s linear 0s;
	-ms-transition: all 0.4s linear 0s;
	transition: all 0.4s linear 0s;
}
.v-line {
	border-left: 3px solid #daa106;
	padding-left: 20px;
}
.big-icon {
	line-height: 185px;
	margin: 20px auto;
	color: #3bafda;
	font-size: 100px;
	text-align: center;
	display: block;
}
.dark-bg, .hover-bg:hover {
	background: #daa106;
}
.black-bg {
	background: #2C2C2C;
}
.gray-bg {
	background: #f1f1f1;
}
.dark-gray-bg {
	background: #eaeff3;
}
img {
	max-width: 100%;
}
.mt-15 {
	margin-top: 15px;
}
.box-shadow {
	box-shadow: 14px 14px 0 0 rgba(0, 0, 0, 0.19);
}
.box-shadow-l {
	box-shadow: -14px 14px 0 0 rgba(0, 0, 0, 0.19);
}
@media (max-width: 767px) {
.box-shadow, .box-shadow-l {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
}
.height-300 {
	height: 236px;
}
.pb-15 {
	padding-bottom: 15px;
}
.m-height {
	min-height: 183px;
}

/*  Box Hover Style   ||-----------*/
.grid figure {
	position: relative;
	overflow: hidden;
	margin: 10px 1%;
	background: #133642;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	max-width: 100%;
	opacity: 0.5;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before, .grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption, .grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-size: 19px;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2, .grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/*---------------*/
/***** Sadie *****/
/*---------------*/

figure.effect-sadie figcaption::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(top, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
	background: linear-gradient(to bottom, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
	content: '';
	opacity: 0;
	-webkit-transform: translate3d(0,50%,0);
	transform: translate3d(0,50%,0);
}

figure.effect-sadie h2 {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	color: #fee;
	-webkit-transition: -webkit-transform 0.35s, color 0.35s;
	transition: transform 0.35s, color 0.35s;
	-webkit-transform: translate3d(0,-50%,0);
	transform: translate3d(0,-50%,0);
}

figure.effect-sadie figcaption::before, figure.effect-sadie p {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-sadie p {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2em;
	width: 100%;
	opacity: 0;
	-webkit-transform: translate3d(0,10px,0);
	transform: translate3d(0,10px,0);
}

figure.effect-sadie:hover h2 {
	color: #fff;
	-webkit-transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
	transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
}

figure.effect-sadie:hover figcaption::before, figure.effect-sadie:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
/*-----------------*/
/***** Goliath *****/
/*-----------------*/

figure.effect-goliath {
	background: #0e332f;
}

figure.effect-goliath img, figure.effect-goliath h2 {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-goliath img {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.effect-goliath h2, figure.effect-goliath p {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 30px;
}

figure.effect-goliath p {
	text-transform: none;
	font-size: 90%;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,50px,0);
	transform: translate3d(0,50px,0);
}

figure.effect-goliath:hover img {
	-webkit-transform: translate3d(0,-100px,0);
	transform: translate3d(0,-100px,0);
}

figure.effect-goliath:hover h2 {
	-webkit-transform: translate3d(0,-100px,0);
	transform: translate3d(0,-100px,0);
}

figure.effect-goliath:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.grid figure.effect-goliath {
	margin: 0;
}
/*---------------*/
/***** Zoe *****/
/*---------------*/
.grid figure.effect-zoe {
	background: none;
}
.grid figure.effect-zoe img {
	opacity: 1;
}
figure.effect-zoe figcaption {
	top: auto;
	bottom: 0;
	padding: 1em;
	height: 4.45em;
	background: #1fcab8;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

figure.effect-zoe .name-block {
	float: left;
}
figure.effect-zoe p.icon-links {
	float: right;
	margin-top: 8px;
}
figure.effect-zoe p.icon-links a {
	float: left;
	color: #323232;
	font-size: 1.4em;
}

figure.effect-zoe:hover p.icon-links a:hover, figure.effect-zoe:hover p.icon-links a:focus {
	color: #252d31;
}

figure.effect-zoe p.description {
	position: absolute;
	bottom: 5em;
	padding: 2em;
	color: #000;
	text-transform: none;
	font-size: 15px;
	opacity: 0;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
	-webkit-backface-visibility: hidden; /* Fix for Chrome 37.0.2062.120 (Mac) */
	background: rgba(31, 202, 184, 0.67);
	left: 0;
}

figure.effect-zoe .name-block, figure.effect-zoe p.icon-links a {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,200%,0);
	transform: translate3d(0,200%,0);
}

figure.effect-zoe p.icon-links a span::before {
	display: inline-block;
	padding: 8px 10px;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

figure.effect-zoe h2 {
	display: inline-block;
}

figure.effect-zoe:hover p.description {
	opacity: 1;
}

figure.effect-zoe:hover figcaption, figure.effect-zoe:hover .name-block, figure.effect-zoe:hover p.icon-links a {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-zoe:hover .name-block {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

figure.effect-zoe:hover p.icon-links a:nth-child(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

figure.effect-zoe:hover p.icon-links a:nth-child(2) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

figure.effect-zoe:hover p.icon-links a:first-child {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}
/* -------------------------------------*/
/* Carousel-Theme (Slider Elements - Bullets, Pagination, etc..) ---------*/
/* -------------------------------------*/
.owl-nav {
	position: static;
}
.owl-carousel.white .owl-controls .owl-page span {
	background: none repeat scroll 0 0 #fff;
}
.owl-carousel.white .owl-controls .owl-page.active span {
	background: #e6ae49;
}
.nf-carousel-theme {
}
.nf-carousel-theme .owl-controls .owl-pagination {
	position: absolute;
	z-index: 2;
	left: 0;
	text-align: center;
	width: 100%;
	margin-top: 15px;
}
.nf-carousel-theme .owl-controls .owl-nav .owl-prev, .nf-carousel-theme .owl-controls .owl-nav .owl-next {
	width: 31px;
	height: 31px;
	line-height: 31px;
	font-size: 16px;
	margin-top: -15px;
	color: #fff;
}
.content-carousel .owl-controls .owl-nav .owl-prev, .content-carousel .owl-controls .owl-nav .owl-next, .image-slider .owl-controls .owl-nav .owl-prev, .image-slider .owl-controls .owl-nav .owl-next, .fullwidth-slider .owl-controls .owl-nav .owl-prev, .fullwidth-slider .owl-controls .owl-nav .owl-next, .nf-carousel-theme .owl-controls .owl-nav .owl-prev, .nf-carousel-theme .owl-controls .owl-nav .owl-next {
	background: #1fcab8;
	color: #fff;
	display: block;
	top: 50%;
	transition: all 0.25s ease 0s;
	-o-transition: all 0.25s ease 0s;
	-moz-transition: all 0.25s ease 0s;
	-webkit-transition: all 0.25s ease 0s;
	z-index: 3;
	position: absolute;
	text-align: center;
}
.content-carousel .owl-controls .owl-nav .owl-prev:hover, .content-carousel .owl-controls .owl-nav .owl-next:hover, .image-slider .owl-controls .owl-nav .owl-prev:hover, .image-slider .owl-controls .owl-nav .owl-next:hover, .fullwidth-slider .owl-controls .owl-nav .owl-prev:hover, .fullwidth-slider .owl-controls .owl-nav .owl-next:hover, .nf-carousel-theme .owl-controls .owl-nav .owl-prev:hover, .nf-carousel-theme .owl-controls .owl-nav .owl-next:hover {
	color: #fff;
}
.content-carousel .owl-controls .owl-nav .owl-next, .image-slider .owl-controls .owl-nav .owl-next, .fullwidth-slider .owl-controls .owl-nav .owl-next, .nf-carousel-theme .owl-controls .owl-nav .owl-next {
	right: 0;
}
.nf-carousel-theme .owl-controls .owl-nav .owl-prev {
	left: 0;
	margin-left: -51px;
	opacity: 0;
}
.nf-carousel-theme .owl-controls .owl-nav .owl-next {
	right: 0;
	margin-right: -51px;
	opacity: 0;
}
.content-carousel:hover .owl-controls .owl-nav .owl-prev, .content-carousel:hover .owl-controls .owl-nav .owl-next, .image-slider:hover .owl-controls .owl-nav .owl-prev, .image-slider:hover .owl-controls .owl-nav .owl-next, .fullwidth-slider:hover .owl-controls .owl-nav .owl-prev, .fullwidth-slider:hover .owl-controls .owl-nav .owl-next, .nf-carousel-theme:hover .owl-controls .owl-nav .owl-prev, .nf-carousel-theme:hover .owl-controls .owl-nav .owl-next {
	margin-right: 0;
	margin-left: 0;
	opacity: 1;
}

.owl-prev, .owl-next {
	position: absolute;
	top: 0;
	height: 100%;
	width: 0;
	background: rgba(25, 169, 153, 0.56);
	-webkit-transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-ms-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
	font-size: 25px;
	overflow: hidden;
	color: #fff;
	text-align: center;
}
.owl-nav i {
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.owl-prev {
	left: 0;
}
.owl-next {
	right: 0;
}
/*Form Style   ||-----------*/

button {
	outline: none;
	border: none;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
	cursor: pointer;
	display: inline-block;
}
button, input, textarea, select {
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
}
input[type="text"], input[type="email"], input[type="tel"], input[type="number"], input[type="password"], input[type="radio"], input[type="checkbox"], textarea, select {
	appearance: none;
	-webkit-appearance: none;
	border: 1px solid #fff;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	color: #202020;
	outline: none;
	font-weight: 400;
	letter-spacing: 1px;
	font-size: 13px;
	padding: 12px 15px;
	transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	-webkit-transition: all 0.2s ease 0s;
	-o-transition: all 0.2s ease 0s;
	display: inline-block;
}
input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus, input[type="number"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus, input[type="password"]:focus, textarea:focus {
	outline: none;
	color: #323232;
}
input, textarea, select {
	margin-bottom: 20px;
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
}
input.input-sm, .input-sm {
	padding: 8px 15px;
}
textarea {
	height: 120px;
}
label {
	color: #323232;
	font-size: 13px;
	margin-bottom: 10px;
	padding-right: 3px;
	margin-top: 6px;
	font-weight: 600;
	font-family: 'Raleway', sans-serif;
}
.form-full {
	width: 100%;
}
.form-field-wrapper {
	margin-bottom: 20px;
}
.form-field-wrapper input, .form-field-wrapper textarea, .form-field-wrapper select {
	margin-bottom: 0px;
}
select.input-sm {
	height: 37px;
	line-height: 1;
}
form .error {
	border-color: #e1534f;
}
form label.error {
	margin-bottom: 0px;
	margin-top: 3px;
	color: #e1534f;
	font-size: 12px;
	font-weight: 400;
}
.successContent, .errorContent {
	margin-bottom: 20px;
	display: none;
	text-transform: none;
	letter-spacing: 1px;
}
/*-------------------------------------------------------------------------------------------*/
/* HEADER         ||---------------------------- */
/*-------------------------------------------------------------------------------------------*/

/*  Header Style   ||-----------*/
.wrapper {
	position: relative;
	width: 100%;
	overflow: hidden;
	background:#fff;
}
.boxed {
    margin-left: auto;
    margin-right: auto;
    max-width: 1170px;
}
#header, .header {
	background: #fff;
}
.logo, .nav-bg {
	position: relative;
	z-index: 9;
}
.logo a {
	display: inline-block;
	padding: 26px 0;
}
.header-1 .logo a {
	display: inline-block;
	padding: 26px 0 20px;
}
@media (min-width: 992px) {
	.header-1 .logo a {
		padding: 18px 0 20px;
	}
}
.menu {
	border-bottom: 4px solid #1fcab8;
	border-top: 4px solid #1fcab8;
	height: 29px;
	position: absolute;
	right: 29px;
	top: 40px;
	width: 44px;
	background: none;
	z-index: 10;
}
.menu:after {
	position: absolute;
	top: 9px;
	right: 0;
	content: '';
	width: 100%;
	height: 4px;
	background: #1fcab8;
}
.header ul {
	float: right;
	list-style: none;
	padding: 0;
	margin: 0;
}
.header ul li {
	float: left;
	position: relative;
}
.navigation ul li a {
	font-size: 12px;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	text-decoration: none;
	text-transform: uppercase;
}
.navigation > ul > li > a {
	display: block;
	padding: 38px 16px;
	color: #323232;
	transition: all 0.25s ease 0s;
	-webkit-transition: all 0.25s ease 0s;
	-moz-transition: all 0.25s ease 0s;
	-o-transition: all 0.25s ease 0s;
	outline: none;
}
.navigation > ul > li:last-child a {
	padding-right: 0;
}
.navigation .sub-nav {
	left: 0;
	border-top: 20px solid transparent;
	position: absolute;
	top: 175%;
	width: 200px;
	z-index: 3;
	background-clip: padding-box;
	padding: 0;
	transition: top 0.3s ease 0s, visibility 0.2s ease 0.2s, opacity 0.2s ease 0.1s;
	-webkit-transition: top 0.3s ease 0s, visibility 0.2s ease 0.2s, opacity 0.2s ease 0.1s;
	-moz-transition: top 0.3s ease 0s, visibility 0.2s ease 0.2s, opacity 0.2s ease 0.1s;
	-ms-transition: top 0.3s ease 0s, visibility 0.2s ease 0.2s, opacity 0.2s ease 0.1s;
	-o-transition: top 0.3s ease 0s, visibility 0.2s ease 0.2s, opacity 0.2s ease 0.1s;
	opacity: 0;
	visibility: hidden;
	background-color: #2a3b48;
	-webkit-backface-visibility:hidden;
}
.navigation .sub-nav li {
	display: block;
	float: none;
	margin: 0;
	border-bottom: 1px solid #314351;
	padding-bottom: 0;
	position: relative;
}
.navigation li:hover .sub-nav {
	opacity: 1;
	top: 80%;
	transition: top 0.3s ease 0s;
	-webkit-transition: top 0.3s ease 0s;
	visibility: visible;
}
.navigation li.sub-menu .sub-nav {
	border: none;
	opacity: 0;
	top: 0;
	visibility: visible;
	left: auto;
	right: 110%;
	visibility: hidden;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
}

.navigation li.sub-menu:hover .sub-nav {
	visibility: visible;
	opacity: 1;
	right: 100%;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
}
@media only screen and (min-width: 768px) {
	.navigation .sub-nav  li:hover {
		background: #263642;
	}
}
.navigation .sub-nav li:last-child {
	border-bottom: 0;
}
.navigation .sub-nav li a {
	padding: 8px 20px;
	display: block;
	color: #fff;
}
/*Top bar*/
.top-bar-section {
	padding-top: 10px;
	padding-bottom: 10px;
	background: #f7f7f7 !important;
	color: #fff;
}
.top-contact {
	float: left;
	text-align: center;
}
.top-social-icon {
	float: right;
}
.top-social-icon {
	text-align: center;
}
.top-bar-section.top-bar-bg-color a {
	color: #fff;
}
.top-contact a i {
	padding-left: 5px;
	padding-right: 5px;
}
.top-social-icon {
	float: right;
}
.top-social-icon {
	text-align: center;
}
.top-social-icon ul {
	margin: 0;
	padding: 0;
}
.top-social-icon li {
	margin-left: 10px;
}
.top-contact  .welcome-text {
	padding-top: 8px;
	letter-spacing: 0.5px;
	display: block;
	font-weight: 600;
	font-size: 13px;
	color: #2c3740;
	text-transform: uppercase;
}
.welcome-text i{
	 margin-right: 6px;
}
.top-bar-section a i {
	font-size: 16px;
}
.top-social-icon a.btn {
	padding: 9px 20px;
}
.top-social-icon a.btn:hover {
	color: #1fcab8;
}
.link-hover-black > a:last-child {
	margin-left: 10px;
}
.icons-hover-black i {
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	margin: 5px 1px 5px 0;
	display: inline-block;
	background: #314555;
	color: #fff;
	-webkit-transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	-ms-transition: all 0.2s ease 0s;
	-o-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
}
.icons-hover-black i:hover{
	background: #1fcab8;
}
/*  Header style 2   ||-----------*/
.header-2 .primary-header {
	background: #314555;
}
.header-2 .navigation > ul {
	float: left;
}
.header-2 .navigation > ul > li {
	border-left: 1px solid #405667;
}

@media only screen and (min-width: 768px) {
	.header-2 .navigation > ul > li:hover {
		background: #2a3b48;
	}
}
.header-2 .navigation > ul > li > a {
	color: #fff;
	padding: 18px 32px;
}
.header-2 .navigation li:hover .sub-nav {
	top: 67%;
}
.call-us ul {
	list-style-type: none;
	line-height: 1.3;
	padding-top: 32px;
}
.call-us ul li {
	display: inline-block;
	font-weight: bold;
	padding: 0 1px;
	vertical-align: top;
	position: relative;
	padding-left: 33px;
}
.call-us ul li:first-child:after {
	content: "";
	background: #d5dce4;
	display: block;
	position: absolute;
	right: -15px;
	top: -18px;
	width: 1px;
	height: 67px;
}

.call-box {
	display: block;
	font-weight: 600;
	font-size: 11px;
	color: #2c3740;
	text-transform: uppercase;
}
.call-box > span {
	display: block;
}
.call-us i {
	font-size: 46px;
	position: absolute;
	top: 0;
	left: 0;
	margin-right: 12px;
	vertical-align: top;
	margin-top: -13px;
}
.call-us i.ion-ios-email-outline{
	margin-top: -10px;
}
.call-us ul li a {
	font-size: 22px;
	color: #2c3740;
	line-height: 1;
	transition: 1s all ease;
	-webkit-transition: 1s all ease;
}
.call-us ul li:last-child {
	margin-left: 25px !important;
}
.call-us ul li:first-child {

	padding-left: 49px;
}
.header-2 .top-bar-section {
	background: #F7F7F7;
	border-bottom: 1px solid #EDEDED;
	padding-top: 4px;
	padding-bottom: 4px;
}
.header-2 .top-bar-section.top-bar-bg-color a, .header-2 .top-social-icon li {
	color: #909090;
}
.header-2 .top-bar-section.top-bar-bg-color a:hover, .call-us ul li a:hover {
	color: #1fcab8;
}
.col-right {
	text-align: right;
}
.col-right .opening {
	float: right;
	text-align: left;
	padding: 25px 0 0 33px
}
.header .col-right ul, .header .col-right ul li {
	float: none;
	position: relative;
	color: #2c3740 !important;
	font-weight: bold;
}
.header .col-right ul li span, .header .col-right ul li * {
	color: #2c3740 !important;
}
.col-right .call-us {
	display: inline-block;
	text-align: right;
	float: none;
}
.col-right .opening ul:after {
	content: "";
	background: #d5dce4;
	display: block;
	position: absolute;
	left: -15px;
	top: -9px;
	width: 1px;
	height: 67px;
}
.header-style {
	box-shadow: 0 0px 1px 1px rgba(0,0,0,0.1);
}
.header-style, .header-1 .nav-wrap {
	box-shadow: 0 0px 1px 1px rgba(0,0,0,0.1);
}
.header-1 .nav-wrap {
	position: relative;
}
.header-1 .nav-wrap:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border-right-color: transparent;
	border-top-color: transparent;
	border-bottom-color: #1fcab8;
	border-left-color: #1fcab8;
	border-style: solid;
	border-top-width: 46px;
	border-right-width: 34px;
	border-bottom-width: 40px;
	border-left-width: 40px;
	margin-left: -338px;
}
.header-1 .nav-wrap:before {
	content: '';
	width: 50%;
	height: 86px;
	background: #1fcab8;
	position: absolute;
	top: 0;
	left: -338px;
}
.header-1 .navigation > ul > li > a {
	padding: 30px 16px;
}

.fix-header #header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
}
@media only screen and (min-width: 767px) {
	#header.fix .nav-wrap, #header.fix .primary-header, .header-style.fix-header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 999999;
	}
	#header.fix .nav-wrap, .header-style.fix-header {
		background: #fff;
	}
	.p-top {
		padding-top: 157px;
	}

}
.boxed #header.fix .nav-wrap, .boxed #header.fix .primary-header, .boxed .header-style.fix-header {
	max-width: 1170px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}
@media (min-width: 992px) and (max-width: 1199px) {
	.header-2 .navigation > ul > li > a {
		padding-left: 28px;
		padding-right: 28px;
	}
	.header.header-2 .navigation > ul > li > a {
    padding-left: 28px;
    padding-right: 25px;
}

}
@media (min-width: 768px) and (max-width: 991px) {
	.navigation {
		margin-left: 0;
	}
	.navigation > ul > li > a {
		padding: 38px 13px;
	}
	.navigation .sub-nav {
		left: -27px;
	}
	.header-1 .nav-wrap:after {
		margin-left: -167px;
	}
	.header-1 .nav-wrap:before {
		left: -166px;
	}
	.header-1 .navigation li:hover .sub-nav {
		top: 77%;
	}
	.call-us ul li a{
		font-size: 16px;
	}
	.header-2 .navigation > ul > li > a {
    color: #fff;
    padding: 18px 23px;
}
.header-1 .navigation > ul > li > a {
    padding: 30px 10px;
}
.header.header-2 .navigation > ul > li > a {
    padding: 18px 10px;
}
.navigation .btn-text{
padding: 0 10px;
min-width:160px;
	}
	
}

@media (max-width: 767px) {
	.container {
		margin: 0 auto;
		max-width: 480px;
		width: 100%;
	}
	.header ul, .header ul li {
		float: none !important;
	}
	.top-social-icon {
		text-align: center;
	}
	.top-social-icon ul li {
		display: inline-block;
		margin: 0 4px !important;
	}
	.top-social-icon ul li:last-child, .top-social-icon ul li:last-child a {
		width: 100%;
		margin: 0;
	}
	.story-content, .video-frame {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		float: none !important;
	}
	.logo a {
		padding: 29px 0px !important;
	}
	.header-1 .logo a {
		padding: 26px 0 20px !important;
	}
	.navigation {
		display: none;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 9;
		background: #314555;
	}
	.header-1 .navigation {
		top: 1px;
	}
	.navigation ul li {
		border-bottom: 1px solid #fff;
	}
	.header-2 .navigation > ul > li {
		border-left: none;
	}
	.navigation > ul > li > a, .header-2 .navigation > ul > li > a, .navigation > ul > li:last-child a, .header-1 .navigation > ul > li > a {
		padding: 10px 15px;
		color: #fff;
	}
	.header-2 .primary-header {
		border-bottom: 1px solid #fff;
		background: none;
	}
	.navigation .sub-nav, .navigation li.sub-menu .sub-nav, .navigation li.sub-menu:hover .sub-nav {
		position: static;
		opacity: 1;
		visibility: visible;
		width: 100%;
		border-top: none;
		transition: inherit;
		-webkit-transition: inherit;
		padding: 0;
	}
	.navigation ul li i {
		color: #fff;
		font-size: 25px;
		position: absolute;
		right: 15px;
		top: 9px;
		cursor: pointer;
		pointer-events: none;
	}
	.navigation ul li ul {
		display: none;
	}
	.navigation .on > .ion-ios-plus-empty:before {
		content: '\f462';
		font-family: "Ionicons";
	}
	.nf-col-padding {
		padding-left: 15px;
		padding-right: 15px;
	}

	.footer h5:after {
		margin-bottom: 18px;
	}
	.footer-info .col-xs-12 {
		min-height: 0;
	}

	.call-us ul li a {
		font-size: 24px;
	}
	.col-right .opening ul::after, .col-right {
		display: none;
	}

	.header-style .logo {
		padding-bottom: 56px;
	}
	.header-style .navigation {
		top: 163px;
	}
	.header-2 .navigation > ul, .top-social-icon {
		float: none !important;
		;
	}
	.header-2 .top-social-icon ul li:last-child, .header-2 .top-social-icon ul li:last-child a {
		width: auto;
	}
	.header-2 .top-social-icon {
		padding-bottom: 0;
	}
	.header-2 .appointment-button {
		display: block;
		margin: 10px auto;
		width: 200px;
	}
	.header-2 .navigation {
		top: 3px;
	}
	.header-2.header-style .navigation {
		top: 148px;
	}
	.header-1 .nav-wrap:before, .header-1 .nav-wrap:after {
		display: none;
	}
}

/*==============================================================================================*/
/* FOOTER         ||---------------------------- */
/*==============================================================================================*/

.footer {
	background-color: #2d3740;
	background: url(../images/footer-bg.jpg) 0 0 no-repeat;
	background-size: cover;
	color: #f7f7f7;
	position: relative;
	width: 100%;
	display: block;
	overflow: hidden;
}
.footer hr {
	border-color: #eee;
}
.footer .footer-info p {
	color: #7f7f7f;
	margin-bottom: 0px;
}
.footer-info .col-xs-12 {
	min-height: 200px;
}
.footer-logo {
	max-width: 125px;
	display: inline-block;
	width: 100%;
}
.footer .social, .contact .social {
	font-size: 17px;
}
.footer ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.footer ul.social li, .contact ul.social li {
	display: inline-block;
	margin: 0 7px 0 0;
}
.footer .link a {
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	color: #7f7f7f;
}
.footer h5 {
	color: #f0eded;
	margin-bottom: 30px;
}
.footer .link-small a {
	text-transform: none;
	color: #7f7f7f;
}
.footer address {
	color: #7f7f7f;
	position: relative;
	padding-left: 30px;
}
.footer .blog-link li {
	margin-right: 5px;
	margin-bottom: 15px;
}
.footer .link-small a {
	position: relative;
	padding-left: 29px
}
.footer .link-small li {
	margin-bottom: 20px;
}
.footer .icons-hover-black i {
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	margin-bottom: 15px;
	display: inline-block;
	margin-right: 1px;
	background: #1f272f;
	color: #fff;
}
.footer .blog-link img {
	width: 60px;
	height: 40px;
}
.footer .copyright {
	text-align: center;
	padding: 18px 0 10px;
	background: #29333c;
	position: relative;
}
.footer .copyright p, .footer .copyright p a {
	color: #7f7f7f;
}
.footer .post-content {
	font-size: 12px;
	color: #615F5F;
	text-transform: uppercase;
}
.footer .fa-icons {
	font-size: 22px;
	position: absolute;
	top: 0;
	left: 0;
}
.entry-thumbnail {
	float: left;
	margin: 0 15px 0 0 !important;
	max-width: 60px;
	padding-right: 0;
}
.entry-thumbnail {
	float: left;
	margin: 0 15px 0 0 !important;
	max-width: 60px;
	padding-right: 0;
}
.blog-link .fa {
	font-size: 15px;
	margin-right: 8px;
}
/* light footer css */
.light-footer {
	background-color: #EFEFEF;
	border-top: 1px solid #D6D4D4;
	color: #000;
}
.light-footer.footer h5, .light-footer.footer .footer-info p, .light-footer.footer .copyright, .light-footer .copyright a {
	color: #000;
}
.light-footer.footer .copyright {
	border-top: 1px solid #E0DFDF;
	background: #FBFBFB;
}
.light-footer .newsletter .newsletter-input, .light-footer .newsletter .newsletter-input:focus {
	background: #eee;
	color: #000;
}
.newsletter {
	position: relative;
}
.newsletter form {
	position: relative;
	margin-top: 20px;
}
.newsletter .newsletter-input, .newsletter .newsletter-input:focus {
	width: 100%;
	border-top: 0px none;
	border-left: 0px none;
	border-right: 0px none;
	padding-right: 40px !important;
	background: none;
	border-radius: 0;
	border: 1px solid #B1AFAF;
	color: #7f7f7f;
}
.newsletter .newsletter-btn {
	position: absolute;
	top: 0px;
	right: 0px;
	font-size: 18px;
	background: #7f7f7f;
	line-height: 23px;
	border-radius: 0;
	width: 49px;
}
.footer .icons-hover-black {
	padding-top: 10px;
}
/*Footer Style 2*/
.footer-style-2:before {
	content: '';
	width: 517px;
	height: 166%;
	position: absolute;
	top: 0;
	left: 0;
	background: #1fcab8;
	transform: rotate(23deg);
	transform-origin: 100% 0;
	-webkit-transform: rotate(23deg);
	-webkit-transform-origin: 100% 0;
}
.footer-style-2 .icons-hover-black i {
	background: #02695e;
}
.footer-style-2 .footer-info p {
	color: #fff;
	margin-bottom: 15px;
}
.instagram ul {
	margin: 0;
	padding: 0;
}
.instagram li {
	margin: 0 0 4px;
	padding: 0;
	list-style: none;
	display: inline-block;
}
.footer-style-2 .blog-link li {
	margin-right: 0;
	margin-bottom: 15px;
	width: 50%;
	float: left;
}
/*-------------------------------------------------------------------------------------------*/
/*  Main Banner        ||---------------------------- */
/*-------------------------------------------------------------------------------------------*/
.main-banner {
	position: relative;
}
.main-banner .banner-text span {
	font-weight: 600;
	color: #ffffff;
	font-size: 16px;
	display: block;
	margin-bottom: 5px !important;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px !important;
	line-height: 1 !important;
}
.main-banner .banner-text h2 {
	font-size: 42px;
	color: #ffffff;
	margin-bottom: 10px;
	line-height: 1.3 !important;
}
.main-banner .banner-text p {
	font-family: 'Lora', serif;
	font-style: italic;
	color: #ffffff;
	font-size: 15px;
	margin-bottom: 20px;
	line-height: 1.8 !important;
}
.main-banner .tp-parallax-wrap {
}
.main-banner .tp-mask-wrap {
	height: auto !important;
}
.main-banner .more-btn {
	background: #1fcab8;
	line-height: 30px !important;
	padding-left: 38px !important;
	padding-right: 38px !important;
	font-weight: 700;
	color: #fff;
}
.main-banner li .btn-text {
	line-height: 60px !important;
	padding-left: 38px !important;
	padding-right: 38px !important;
	font-size:13px !important;
	font-weight: 700;
}
#wrapper .main-banner .tp-bullets {
	top: auto !important;
	left: 52% !important;
	display: block !important;
	visibility: visible !important;
	opacity: 1 !important;
	bottom: 66px !important;
}
.main-banner .tp-bullet {
	width: 26px !important;
	height: 3px !important;
	background: #8f8f8f;
}
.main-banner .tp-bullet.selected {
	background: #ffaf36;
}
.tparrows.tp-leftarrow, .tparrows.tp-rightarrow {
	border: 1px solid #fff;
	z-index: 99;
	cursor: pointer;
	background: none;
	visibility: hidden;
}
.main-banner:hover .tparrows.tp-leftarrow, .main-banner:hover .tparrows.tp-rightarrow {
	visibility: visible;
}
.tparrows.tp-leftarrow:hover, .tparrows.tp-rightarrow:hover {
	background: #1fcab8;
	border: 1px solid #1fcab8;
}
.slotholder:before {
    border-top: none;
    border-bottom: none;
    position: absolute !important;
    left: 0;
    top: 0!important;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(0,0,0,.4);
    content: '';
}
@media (max-width: 480px) {

	.main-banner .banner-text h2 {
		font-size: 18px !important;
	}
	.main-banner .banner-text p {
		line-height: 1.2 !important;
		font-size: 15px !important;
	}
}

/*  Page Intro   ||-----------*/
.inner-intro {
	background-color: #f7f7f7;
	height: 300px;
	display: block;
	position: relative;
	overflow: hidden;
}
.inner-intro.inner-intro-small {
	height: 380px;
}
.inner-intro .container {
	position: relative;
	height: 100%;
	display: table;
}
.inner-intro .container .title {
	display: table-cell;
	vertical-align: middle;
	text-align: left;
}

.bg-img {
	background: url(../images/hosting-slide3.jpg) 0 0 no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.overlay-before:before {
	content: '';
	width: 517px;
	height: 166%;
	position: absolute;
	top: 0;
	left: 0;
	background: #1fcab8;
	transform: rotate(23deg);
	-webkit-transform: rotate(23deg);
	transform-origin: 100% 0;
	-webkit-transform-origin: 100% 0;
}
@media (max-width: 767px) {
	.inner-intro {
		height: 220px;
	}
	.overlay-before:before {
		width: 100%;
		transform: rotate(23deg);
		-webkit-transform: rotate(23deg);
		transform: rotate(0);
		-webkit-transform: rotate(0);
		transform-origin: 100% 0;
		-webkit- transform-origin: 100% 0;
		opacity: 0.9;
	}
}
/*  Testimonial   ||-----------*/
#testimonial .client-pic {
	width: 60px;
	margin: 0 auto;
	display: block;
	border: 3px solid #1fcab8;
}
.client-name {
	padding-top: 10px;
}
.client-name strong, .client-name span {
	display: block;
	line-height: 1.8;
}
.star i {
	display: inline-block;
	margin: 0 1px;
	color: #1fcab8;
}

#testimonial-section h4 {
	font-size: 14px;
	font-weight: 400;
}
#testimonial-section h4 span {
	text-transform: capitalize;
	font-weight: 300;
	display: inline-block;
	margin-right: 5px;
}
#testimonial .owl-item .item {
	opacity: 0.7;
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	-ms-transform: scale(0.6);
	-o-transform: scale(0.6);
	transform: scale(0.8);
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
#testimonial .owl-item.center .item {
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
#testimonial .owl-controls {
	text-align: center;
	margin-top: 30px;
}
#testimonial .owl-dot {
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	border: 2px solid #1fcab8;
	margin: 0 5px
}
#testimonial .owl-dot.active {
	background: #1fcab8;
}
/* ----------------------------------------------------------------------*/
/* Pagination Navigation   --------------------------------------------- */
/* ----------------------------------------------------------------------*/
.pagination-nav {
	width: 100%;
	display: block;
	position: relative;
	text-align: center;
}
.pagination-nav ul {
	margin: 0px;
	padding: 0px;
}
.pagination-nav ul li {
	display: inline-block;
	margin: 0px 2px;
}
.pagination-nav ul li a {
	display: block;
	border: 1px solid #1fcab8;
	color: #1fcab8;
	height: 36px;
	width: 36px;
	line-height: 34px;
	text-align: center;
	font-size: 14px;
}
.pagination-nav ul li.active a, .pagination-nav ul li:hover a {
	background: #1fcab8;
	color: #fff;
}
/* ----------------------------------------------------------------------*/
/* Sidebar Widget   ---------------------------------------------------- */
/* ----------------------------------------------------------------------*/

.sidebar-widget {
	margin-bottom: 50px;
}
.sidebar-widget h4 {
	margin: 0px;
	padding-top: 0;
	padding-bottom: 15px;
}
.widget-search {
	position: relative;
}
.widget-search input[type="text"] {
	padding-right: 30px;
	border: 1px solid #DEDEDE;
	margin-bottom: 0;
}
.widget-search input[type="text"]:focus {
	border: 1px solid #1fcab8;
}
.blog-post-hr input[type="text"], .blog-post-hr textarea {
	border: 1px solid #DEDEDE;
}
.blog-post-hr input[type="text"]:focus, .blog-post-hr textarea:focus {
	border: 1px solid #1fcab8;
}
.widget-search input[type="submit"] {
	background-color: rgba(0,0,0,0);
	border: 0 none;
	color: #8d8d8d;
	cursor: pointer;
	display: inline-block;
	float: right;
	font-family: "FontAwesome", sans-serif;
	margin: 0;
	outline: 0 none;
	white-space: nowrap;
	padding: 0 3px;
	text-decoration: none;
	transition: all 0.25s ease 0s;
	-moz-transition: all 0.25s ease 0s;
	-o-transition: all 0.25s ease 0s;
	-webkit-transition: all 0.25s ease 0s;
	position: absolute;
	top: 10px;
	right: 10px;
}
.widget-search input[type="submit"]:hover {
	color: #e6ae49;
}
.sidebar-widget hr {
	margin-bottom: 15px;
}
.sidebar-widget ul {
	margin: 0px;
	padding-left: 0px;
}
.sidebar-widget ul li {
	list-style: none;
	font-weight: 400;
}
.categories li {
	border-bottom: 1px solid #DEDEDE;
}
.sidebar-widget ul li a {
	display: inline-block;
	padding: 4px 0px;
	font-size: 13px;
	color: #323232;
	cursor: pointer;
}
.sidebar-widget .categories li a {
	padding: 10px 0px;
	text-transform: capitalize;
}
.sidebar-widget ul li a:hover {
	color: #1fcab8;
}
.widget-tag {
	display: inline-table;
	margin-top: 15px;
}
.widget-tag li {
	float: left;
	margin-bottom: 5px;
	margin-right: 5px;
	text-transform: uppercase;
}
.widget-tag li a {
	padding: 4px 10px !important;
	display: block;
	border: 1px solid #1fcab8;
	color: #1fcab8 !important;
}
.sidebar-widget .widget-tag li a:hover {
	background: #1fcab8;
	color: #fff !important;
}
.sidebar-widget .widget-post {
	position: relative;
}
.sidebar-widget .widget-post .widget-post-media {
	width: 118px;
	display: table-cell;
	padding: 0px 15px 0px 0px;
}
.sidebar-widget .widget-post li {
	margin-bottom: 20px;
}
.sidebar-widget .widget-post a {
	padding: 0px;
}
.sidebar-widget .widget-post .widget-post-media img, .sidebar-widget .widget-post .widget-post-media video {
	width: 100%;
	vertical-align: top;
}
.sidebar-widget .widget-post .widget-post-info {
	display: table-cell;
	vertical-align: top;
}
.sidebar-widget .widget-post .widget-post-info h5, .sidebar-widget .widget-post .widget-post-info h6 {
	margin-bottom: 5px;
}
.sidebar-widget .widget-post .widget-post-info p {
	margin: 0px;
}
.sidebar-widget .color-widget {
	overflow: hidden;
}
.sidebar-widget .color-widget li {
	float: left;
	width: 25px;
	height: 25px;
	margin: 0 8px 8px 0;
	border: 1px solid #f1f1f1;
}
.sidebar-widget .red-box {
	background: #FF0000;
}
.sidebar-widget .yellow-box {
	background: #FFD700;
}
.sidebar-widget .blue-box {
	background: #0000FF;
}
.sidebar-widget .green-box {
	background: #008000;
}
.sidebar-widget .orange-box {
	background: #FF4500;
}
.sidebar-widget .light-b-box {
	background: #ADD8E6;
}
.sidebar-widget .black-box {
	background: #000;
}
.sidebar-widget .darkmagenta-box {
	background: #8B008B;
}
.sidebar-widget .darkturquoise-box {
	background: #00CED1;
}
.sidebar-widget .Olive-box {
	background: #00CED1;
}
.sidebar-widget .Orchid-box {
	background: #DA70D6;
}
.sidebar-widget .purple-box {
	background: #800080;
}
.sidebar-widget .darkturquoise-box {
	background: #8B4513;
}
.sidebar-widget .magenta-box {
	background: #FF00FF;
}
.sidebar-widget .SaddleBrown-box {
	background: #8B4513;
}
/*  blog   ||-----------*/
.post-media {
	margin: 0 0 20px;
}
.post-media i {

	display: inline-block;
	font-size: 17px
}
.post-media span {
	display: inline-block;
	margin-right: 15px;
}

.post-content {
	position: relative;
}
.divider {

	border-top: 1px solid #ddd;
}
.item-nav {
	text-align: center;
	display: block;
	overflow: hidden;
}
.item-nav .item-prev, .item-nav .item-next, .item-nav .item-all-view {
	position: relative;
	display: inline-block;
}
.item-nav .item-all-view h5, .item-nav .item-all-view h6 {
	transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
}
.item-nav .item-all-view h5:hover, .item-nav .item-all-view h6:hover {
	color: #e6ae49;
}
.item-nav .item-prev .prev-btn, .item-nav .item-next .next-btn, .item-all-view {
	display: inline-block;
	font-size: 25px;
	text-align: center;
	height: 51px;
	line-height: 51px;
	transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
}
.item-nav .item-prev .prev-btn, .item-nav .item-next .next-btn {
	color: #1fcab8;
	width: 51px;
	border: 1px solid #1fcab8
}
.item-nav .item-prev:hover .prev-btn, .item-nav .item-next:hover .next-btn {
	background: #1fcab8;
	color: #fff;
}
.item-nav .item-prev {
	text-align: left;
	float: left;
}
.item-nav .item-next {
	text-align: right;
	float: right;
}
.item-nav .item-prev .item-prev-text, .item-nav .item-next .item-next-text {
	position: absolute;
	line-height: 51px;
	top: 10px;
	z-index: -1;
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	width: 150px;
	font-size:10px;
}
.item-nav .item-prev:hover .item-prev-text, .item-nav .item-next:hover .item-next-text {
	margin-left: 0;
	margin-right: 0;
	visibility: visible;
	opacity: 1;
}
.item-nav .item-prev .item-prev-text {
	left: 100%;
	margin-left: -110px;
	padding-left: 15px;
}
.item-nav .item-next .item-next-text {
	right: 100%;
	margin-right: -110px;
	padding-right: 15px;
}
.item-nav .item-prev .item-prev-text p, .item-nav .item-prev .item-prev-text h5, .item-nav .item-prev .item-prev-text h6, .item-nav .item-next .item-next-text p, .item-nav .item-next .item-next-text h5, .item-nav .item-next .item-next-text h6 {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}
.item-nav .item-prev .item-prev-text h5, .item-nav .item-prev .item-prev-text h6, .item-nav .item-next .item-next-text h5, .item-nav .item-next .item-next-text h6, .item-nav .item-all-view h5, .item-nav .item-all-view h6 {
	padding-top: 8px;
}
/*  Partner Section   ||-----------*/
.logo-group {
	overflow: hidden;
	padding: 0;
	border: 1px solid #ddd;
	border-right: none;
	border-bottom: none;
	position: relative;
}

.logo-group li {
	width: 20%;
	float: left;
	height: 150px;
	list-style: none;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.logo-group li img {
	display: block;
	margin: 0 auto;
}
@media only screen and (max-width: 767px) {
	.logo-group li {
		width: 50%;
	}
}
@media only screen and (max-width: 500px) {
	.logo-group li {
		width: 100%;
	}
}

.client-avtar {
	position: absolute;
	left: 42px;
	top: -36px;
	width: 70px;
	height: 70px;
	border: 2px solid #3bafda;
}
.right-pos {
	left: auto;
	right: 42px;
}
.bg-dark {
	position: relative;
}

#testimonial .owl-carousel .owl-item {
	opacity: 0.5;
	transform: scale(0.8);
	transition: all 0.3s ease-in;
}
#testimonial .owl-carousel .owl-item.center {
	opacity: 1;
	transform: scale(1);
	transition: all 0.3s ease-out;
}
/*  Time Line Section  ||-----------*/
.btn-icon {
	padding: 0;
	display: inline-block;
	text-align: center;
	border-radius: 2px;
	height: 35px;
	width: 35px;
	line-height: 35px
}
.btn-icon i {
	line-height: 35px
}
.btn-icon.btn-icon-lined {
	line-height: 31px
}
.btn-icon.btn-icon-lined i {
	line-height: 31px
}
.btn-icon.btn-icon-lined.btn-icon-thin {
	line-height: 33px
}
.btn-icon.btn-icon-lined.btn-icon-thin i {
	line-height: 33px
}
.btn-icon-lined {
	display: inline-block;
	text-align: center;
	border-radius: 2px;
	background-color: #fff;
	border-width: 2px;
	border-style: solid;
	border-color: #3D4051;
	color: #3D4051;
	height: 35px;
	width: 35px;
	line-height: 35px
}
.btn-icon-lined i {
	line-height: 35px
}
.btn-icon-lined.btn-icon-lined {
	line-height: 31px
}
.btn-icon-lined.btn-icon-lined i {
	line-height: 31px
}
.btn-icon-lined.btn-icon-lined.btn-icon-thin {
	line-height: 33px
}
.btn-icon-lined.btn-icon-lined.btn-icon-thin i {
	line-height: 33px
}
.btn-icon-lined.btn-icon-thin {
	border-width: 1px
}
.btn-icon-lined:hover {
	background-color: #fff;
	color: #fff
}
.btn-icon-lined.btn-default-light {
	color: #bbb;
	border: 2px solid #bbb
}
.btn-icon-lined.btn-default-light:hover {
	color: #bbb;
	border: 2px solid #bbb
}
.btn-icon-lined.btn-default {
	color: #777;
	border-color: #777
}
.btn-icon-lined.btn-default:hover {
	color: #777;
	border-color: #777
}
.btn-icon-lined.btn-primary {
	color: #009688;
	border-color: #009688
}
.btn-icon-lined.btn-success {
	color: #8BC34A;
	border-color: #8BC34A
}
.btn-icon-lined.btn-info {
	color: #00BCD4;
	border-color: #00BCD4
}
.btn-icon-lined.btn-warning {
	color: #FFCA28;
	border-color: #FFCA28
}
.btn-icon-lined.btn-danger {
	color: #F44336;
	border-color: #F44336
}
.btn-icon-round {
	border-radius: 50%
}
.btn-icon-sm {
	height: 30px;
	width: 30px;
	line-height: 30px
}
.btn-icon-sm i {
	line-height: 30px
}
.btn-icon-sm.btn-icon-lined {
	line-height: 26px
}
.btn-icon-sm.btn-icon-lined i {
	line-height: 26px
}
.btn-icon-sm.btn-icon-lined.btn-icon-thin {
	line-height: 28px
}
.btn-icon-sm.btn-icon-lined.btn-icon-thin i {
	line-height: 28px
}
.btn-icon-md {
	height: 45px;
	width: 45px;
	line-height: 45px;
	font-size: 18px
}
.btn-icon-md i {
	line-height: 45px
}
.btn-icon-md.btn-icon-lined {
	line-height: 41px
}
.btn-icon-md.btn-icon-lined i {
	line-height: 41px
}
.btn-icon-md.btn-icon-lined.btn-icon-thin {
	line-height: 43px
}
.btn-icon-md.btn-icon-lined.btn-icon-thin i {
	line-height: 43px
}
.btn-icon-lg {
	height: 65px;
	width: 65px;
	line-height: 65px;
	font-size: 28px
}
.btn-icon-lg i {
	line-height: 65px
}
.btn-icon-lg.btn-icon-lined {
	line-height: 61px
}
.btn-icon-lg.btn-icon-lined i {
	line-height: 61px
}
.btn-icon-lg.btn-icon-lined.btn-icon-thin {
	line-height: 63px
}
.btn-icon-lg.btn-icon-lined.btn-icon-thin i {
	line-height: 63px
}
.btn-icon-lg-alt {
	height: 70px;
	width: 70px;
	line-height: 70px
}
.btn-icon-lg-alt i {
	line-height: 70px
}
.btn-icon-lg-alt.btn-icon-lined {
	line-height: 66px
}
.btn-icon-lg-alt.btn-icon-lined i {
	line-height: 66px
}
.btn-icon-lg-alt.btn-icon-lined.btn-icon-thin {
	line-height: 68px
}
.btn-icon-lg-alt.btn-icon-lined.btn-icon-thin i {
	line-height: 68px
}
.ui-timline-left .ui-timeline:before {
	left: 0
}

@media (min-width: 768px) {
	.ui-timline-left .ui-timeline .tl-item:before {
		display: none
	}
	.ui-timline-left .ui-timeline .tl-item .tl-caption {
		margin-left: -55px
	}
	.ui-timline-left .ui-timeline .tl-item .tl-body .tl-time {
		left: auto;
		right: 15px;
		color: #777
	}
}
.ui-timeline {
	display: table;
	position: relative;
	table-layout: fixed;
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse
}
.ui-timeline:before {
	background-color: #d5d5d5;
	bottom: 0px;
	content: "";
	position: absolute;
	left: 0;
	top: 30px;
	width: 1px;
	z-index: 0
}
@media (min-width: 768px) {
	.ui-timeline:before {
		left: 50%
	}
}
.ui-timeline .tl-item {
	display: table-row;
	margin-bottom: 5px
}
.ui-timeline .tl-item:before {
	display: none;
	content: ""
}
@media (min-width: 768px) {
	.ui-timeline .tl-item:before {
		display: block;
		width: 50%
	}
}
.ui-timeline .tl-item .tl-caption {
	width: 150px;
	margin-left: -55px
}
@media (min-width: 768px) {
	.ui-timeline .tl-item .tl-caption {
		margin-left: -110px
	}
}
@media (min-width: 768px) {
	.ui-timeline .tl-item.alt {
		text-align: right
	}
	.ui-timeline .tl-item.alt:before {
		display: none
	}
	.ui-timeline .tl-item.alt:after {
		content: "";
		display: block;
		width: 50%
	}
	.ui-timeline .tl-item.alt .tl-body .tl-entry {
		margin: 0 35px 15px 0
	}
	.ui-timeline .tl-item.alt .tl-body .tl-time {
		right: -220px;
		left: auto;
		text-align: left
	}
	.ui-timeline .tl-item.alt .tl-body .tl-icon {
		right: -53px;
		left: auto
	}
	.ui-timeline .tl-item.alt .tl-body .tl-content:after {
		right: -16px;
		left: auto;
		border: 8px solid transparent;
		border-left: 8px solid rgba(255, 255, 255, 0.9);
		border-top: 8px solid rgba(255, 255, 255, 0.9)
	}
}
.ui-timeline .tl-item .tl-body {
	display: table-cell;
	width: 50%;
	vertical-align: top
}
.ui-timeline .tl-item .tl-body .tl-entry {
	position: relative;
	margin: 0 0 35px 36px
}
.ui-timeline .tl-item .tl-body .tl-entry .btn-primary {
	background-color: #1fcab8 !important;
	border-color: #1fcab8 !important;
	padding: 10px 12px;

}
.ui-timeline .tl-item .tl-body .tl-time {
	z-index: 1;
	position: absolute;
	left: auto;
	right: 15px;
	top: 0;
	width: 150px;
	color: #777;
	line-height: 35px;
	text-align: right
}
@media (min-width: 768px) {
	.ui-timeline .tl-item .tl-body .tl-time {
		left: -220px;
		right: auto;
		color: #3D4051
	}
}
.ui-timeline .tl-item .tl-body .tl-icon {
	position: absolute;
	left: -53px;
	top: 0
}
.ui-timeline .tl-item .tl-body .tl-content {
	position: relative;
	padding: 15px;
	border-radius: 2px;
	background-color: rgba(255, 255, 255, 0.9)
}
.ui-timeline .tl-item .tl-body .tl-content:after {
	content: " ";
	line-height: 0;
	position: absolute;
	left: -16px;
	top: 0;
	border: 8px solid transparent;
	border-right: 8px solid rgba(255, 255, 255, 0.9);
	border-top: 8px solid rgba(255, 255, 255, 0.9)
}
.tooltip-inner {
	padding: .85em
}

.ui-timeline {
	display: table;
	position: relative;
	table-layout: fixed;
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse
}
.ui-timeline:before {
	background-color: #d5d5d5;
	bottom: 0px;
	content: "";
	position: absolute;
	left: 0;
	top: 30px;
	width: 1px;
	z-index: 0
}
@media (min-width: 768px) {
	.ui-timeline:before {
		left: 50%
	}
}
.ui-timeline .tl-item {
	display: table-row;
	margin-bottom: 5px
}
.ui-timeline .tl-item:before {
	display: none;
	content: ""
}
@media (min-width: 768px) {
	.ui-timeline .tl-item:before {
		display: block;
		width: 50%
	}
}
@media (max-width: 767px) {
	.ui-timeline .tl-item .tl-caption {
		margin-left: -39px;
	}
	.ui-timeline .tl-item .tl-body .tl-icon {
		left: -48px;
	}
}
.bg-gray {
	color: #000;
	background-color: #EFF0F1 !important;
}
/*  Team Section  ||-----------*/
.designation {
	display: block;
	text-transform: capitalize;
	font-size: 15px;
}
/*  Serve Section  ||-----------*/
#serve-section img {
	width: 100%;
}


/*  Faq Page  ||-----------*/
.faq h3 {
	font-size: 24px;
	font-weight: 400;
	margin-bottom: 38px;
	text-transform: capitalize;
}
.faq .page-header {
	margin: 0;
}
.faq .faq-header  h2 strong {
	border-bottom-style: solid;
	border-bottom-width: 2px;
}
.faq .faq-header  h2 {
	margin-bottom: 27px;
	font-weight: 300;
}
.faq .faq-header {
	margin-bottom: 0;
}
.faq .panel-title > a {
	display: block
}
.faq .panel-group .panel + .panel {
	margin-top: 14px;
}
.faq .panel-group .panel-heading + .panel-collapse > .panel-body {
	border: none;
	padding: 48px 18px;
	background: #f2ede9;
}
.faq .panel-default > .panel-heading {
	padding: 0;
	background: #f2ede9;
}
.faq .panel-default > .panel-heading a {
	padding: 13px 60px 14px 28px;
	color: #26211d;
	position: relative;
}
.faq .panel-default > .panel-heading a:hover {
	text-decoration: none;
}
.faq .panel-default > .panel-heading a.collapsed {
	background-position: right top
}
.faq .panel-group .panel {
	border-radius: 0;
	border: none;
	box-shadow: none
}
.faq .panel-group .panel p {
	font-weight: 300;
}
.save-lives.ask-us {
	background: #faf8f6;
}
.save-lives.ask-us h2 {
	font-weight: 300;
	margin-bottom: 30px;
}
.faq .panel-heading {
	border-radius: 0;
}
.faq .collape-plus {
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	width: 48px;
	height: 100%;
	text-align: center;
}
.collape-plus:before {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}
.panel-title {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 16px;
	color: inherit;
	font-weight: 400;
	text-transform: capitalize;
}
.faq .collape-plus {
	background: #1fcab8;
	color: #fff;
}
.panel-title a[aria-expanded="true"] .fa-plus:before {
	content: "\f068";
	font-famiyl: 'FontAwesome';
}

/*  404 page         ||---------------------------- */

.big-font {
	font-size: 130px;
	margin-bottom: 22px;
	display: block;
}
.big-font i {
	color: #1fcab8;
}
.page-404 {
	border-top: 1px solid #f1f1f1;
}

/* Blog Page   --------------------------------------------------------- */

#blog {
	background: #e5f0fb;
}
.blog-post {
	display: inline-block;
	width: 100%;
}
.blog-post .post-media {
	position: relative;
	overflow: hidden;
	margin-bottom: 25px;
}
.blog-post .post-media iframe {
	width: 100%;
}
.blog-post .post-meta, .comment-list .post-meta, .sidebar-widget .post-meta {
	text-transform: uppercase;
	color: #999;
	font-size: 13px;
}
.post-meta span > a > i {
	color: #1fcab8;
}
.blog-post .post-meta span, .comment-list .post-meta span {
	margin-right: 3px;
}
.blog-post .post-header h5, .blog-post .post-header h4, .blog-post .post-header h3 {
	margin-top: 10px;
	margin-bottom: 20px;
}
.blog-post .post-header h2 {
	margin-bottom: 30px;
	margin-top: 10px;
}
.blog-post .post-entry {
	margin-bottom: 30px;
}
.blog-post .post-entry p, .blog-post .post-entry blockquote, .post-entry ul {
	margin-bottom: 20px;
}
.blog-post .post-entry ul {
	color: #202020;
}
.lead-point li {
	list-style: none;
	margin-bottom: 10px;
	color: #1fcab8;
	font-weight: 600;
}
.lead-point li i {
	margin-right: 10px;
}
.blog-post .post-tag {
	color: #999;
	text-transform: uppercase;
	font-size: 13px;
}
.blog-post .post-tag span {
	margin-right: 10px;
}
.blog-post .post-more-link {
	font-size: 11px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.post-meta .post-more-link a {
	padding: 8px 18px;
	display: block;
	text-align: center;
	min-width: 0;
    height: auto;
    line-height: inherit !important;
}
.blog-post .post-more-link {
	position: relative;
	z-index: 2;
}
.blog-post .post-more-link a i {
	font-size: 18px;
	margin: 0;
	background: none;
}
.blog-post .icons-hover-black {
	position: absolute;
	bottom: 39px;
	padding: 10px 0;
	visibility: hidden;
}
.post-section .post-more-link {
	margin-top: 17px;
}
.post-section .blog-post .icons-hover-black {
	bottom: auto;
	top: 39px;
}
.blog-section .icons-hover-black {
	bottom: auto;
	top: 39px;
}
.blog-post .post-more-link:hover .icons-hover-black {
	visibility: visible;
}
.blog-post .post-more-link:hover .btn-color-line {
	background: #1fcab8;
	color: #fff;
}
.blog-post .icons-hover-black a {
	opacity: 0;
	transition: all 0.25s ease 0s;
}
.blog-post .post-more-link:hover .icons-hover-black a {
	opacity: 1;
	transition: all 0.25s ease 0s;
}
.facebook-icon {
	background: #3b5998;
}
.twitter-icon {
	background: #00a0d1;
}
.linkedin-icon {
	background: #00a0d1;
}
.googleplus-icon {
	background: #db4a39;
}
.blog-post .icons-hover-black a {
	padding: 8px 12px;
	color: #fff;
}
.blog-post .icons-hover-black a:hover {
	opacity: 0.8;
}
.blog-post .post-more-link .icons-hover-black i {
	line-height: 28px;
}
.blog-post blockquote {
	border-left: none;
	color: #fff;
	font-size: 17px;
	font-weight: 400;
	padding: 25px 25px;
	margin: 0px;
	font-weight: 300;
}
.blog-post blockquote:after {
	content: "";
	font-family: FontAwesome;
	padding-left: 7px;
	font-size: 12px;
}
.blog-post blockquote:before {
	content: "";
	font-family: FontAwesome;
	padding-right: 7px;
	font-size: 12px;
}
.blog-post-hr hr {
	margin-bottom: 45px;
}
.post-author {
	display: inline-block;
	position: relative;
	margin-bottom: 40px;
}
.post-author img {
	width: 120px;
}
.post-author .post-author-details {
	padding-left: 20px;
}
@media (max-width:767px){
.post-author .post-author-details {
	padding-left: 0;
	padding-top:25px;
}
}
.blog-post .fa-tag {
	padding-right: 10px;
	color: #1fcab8;
}
.post-author h6 {
	margin-top: 0px;
	margin-bottom: 0;
}
.post-author-blog {
	overflow: hidden;
}
.post-author ul.social {
	margin: 0px;
	padding: 0px;
	font-size: 16px;
}
.post-author ul.social li {
	list-style: none;
	display: inline-block;
	margin: 0 5px;
}
.post-comment {
}
.post-comment .comment-numb {
	font-weight: 300;
}
.post-comment .comment-list {
	margin-left: 0px;
	padding-right: 0px;
	list-style: none;
	padding: 0px;
}
.post-comment .comment-list h6 {
	margin-top: 0px;
	margin-bottom: 3px;
}
.post-comment .comment-list li:first-child {
	padding-top: 0px;
}
.post-comment .comment-list li {
	padding-top: 15px;
}
.post-comment .comment-list li:last-child .comment-detail {
	border-bottom: 0px none;
}
.post-comment .comment-list li, .post-comment .comment-list .comment-reply {
	position: relative;
	padding-left: 100px;
}
.post-comment .comment-list .comment-detail {
	border-bottom: 1px dotted #eee;
	padding-bottom: 24px;
}
.post-comment .comment-list .comment-reply {
	padding-top: 30px;
}
.post-comment .comment-list .comment-reply-btn i {
	padding-right: 3px;
}
.post-comment .comment-avatar {
	left: 0;
	margin-right: 15px;
	position: absolute;
	width: 85px;
}
.post-comment .comment-avatar img {
	width: 100%;
}
.post-comment-star .star-rat {
	display: inline-block;
}
.post-comment-star label {
	margin-right: 6px;
}
.blog-date {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #1fcab8;
	color: #fff;
}
.post-media {
	position: relative;
}
.post-media .event-calender, .first-event .event-calender {
	width: 54px;
	height: 67px;
	font-size: 23px;
	padding-top: 11px;
	z-index: 9;
	text-align: center;
}
.post-media .event-calender span, .first-event .event-calender span {
	font-size: 12px;
}
.blog-post .blog-date span, .post-media .event-calender span {
	color: #fff;
}
.post-media img {
	display: block;
}
.event-calender span {
	font-size: 14px;
	color: #fff;
	display: block;
	text-transform: uppercase;
	margin-top: 0;
	margin-right: 0;
}

/*  Register and login Pages   ||-----------*/
.page-signin .main-body {
	max-width: 480px;
	margin: 10px auto;
}
.page-signin .body-inner {
	position: relative;
	padding: 0 20px 20px;
}
.card {
	position: relative;
	overflow: hidden;
	margin: 10px 0 20px 0;
	border-radius: 2px;
}
.mdl-shadow--2dp, .card-panel, .card {
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
}
.bg-white {
	background-color: #fff;
	color: #3D4051;
}
.z-depth-2, .page-signin .card {
	box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.card .card-content {
	padding: 20px;
	border-radius: 0 0 2px 2px;
}
.page-signin .card .card-content {
	padding: 30px 20px;
}
.page-signin .logo {
	font-size: 26px;
	font-weight: normal;
}
.page-signin .form-group {
	position: relative;
	margin: 0;
}
.ui-input-group {
	position: relative;
	margin: 18px 0 12px;
}
.card .card-action {
	border-top: 1px solid rgba(0,0,0,0.05);
	padding: 20px;
}
.card .card-action.no-border {
	border: 0;
}
.color-primary, a.color-primary {
	color: #1fcab8;
}
.card .card-action > a {
	margin-right: 20px;
	text-transform: uppercase;
}
.page-signin .additional-info {
	text-align: center;
	font-size: 12px;
}
.page-signin .additional-info a {
	color: #fafafa;
}
.page-signin .additional-info .divider-h {
	border-right: 1px solid #fafafa;
	margin: 0 15px;
}
.page-signin .additional-info {
	text-align: center;
	font-size: 12px;
}
.page-signin .body-inner:before {
	z-index: -1;
	content: ' ';
	line-height: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #1fcab8;
	height: 220px;
}
.ui-input-group > input {
	padding-left: 0;
	padding-right: 0;
	border: none;
	box-shadow: 0 0 0 #fff;
	border: none;
	border-bottom: 1px solid #CBD5DD;
	margin: 0;
}
.ui-input-group > input:focus {
	border-bottom: 1px solid #CBD5DD;
	box-shadow: 0 0 0 #fff;
}
.page-signin .ui-input-group .form-control {
	color: #555;
}
.ui-input-group .input-bar {
	position: relative;
	display: block;
	width: 100%;
}
.ui-input-group .input-bar:before {
	left: 50%;
}
.ui-input-group .input-bar:before, .ui-input-group .input-bar:after {
	content: '';
	height: 1px;
	width: 0;
	bottom: 1px;
	position: absolute;
	background: #1fcab8;
	-webkit-transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
	-moz-transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
	transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}
.ui-input-group .input-bar:after {
	right: 50%;
}
.ui-input-group .input-bar:before, .ui-input-group .input-bar:after {
	content: '';
	height: 1px;
	width: 0;
	bottom: 1px;
	position: absolute;
	background: #1fcab8;
	-webkit-transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
	-moz-transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
	transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}
.ui-input-group > label {
	color: #999;
	font-size: 14px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 0;
	top: 10px;
	-webkit-transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
	-moz-transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
	transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
	margin: 0;
}
.ui-input-group>input:focus ~ label, .ui-input-group>input:valid ~
label {
	top: -20px;
	left: 0;
	font-size: 12px;
}
.ui-input-group>input:focus ~ label, .ui-input-group>textarea:focus ~
label {
	color: #1fcab8;
}
.ui-input-group>input:focus ~ .input-bar:before, .ui-input-group>input:focus ~
.input-bar:after {
	width: 50%;
}
.ui-input-group>input:focus ~ .input-bar:before, .ui-input-group>input:focus ~
.input-bar:after {
	width: 50%;
}
.checkbox-field label {
	font-size: 12px;
}
.checkbox-field #check_box {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0
}
.custom-check {
	width: 20px;
	height: 20px;
	display: inline-block;
	border: 1px solid #1fcab8;
	top: 4px;
	position: relative;
	margin-right: 10px;
}
.custom-check:before {
	content: "";
	font-family: "Ionicons";
	color: #1fcab8;
	font-size: 24px;
	position: absolute;
	top: -3px;
	left: 5px;
}
.checkbox-field #check_box:checked + .custom-check:before {
	content: "\f3fd";
}
.spacer {
	display: block;
	margin-top: 15px;
	margin-bottom: 15px;
}

/*Newslatter*/
.newsletter {
	position: relative;
}
.newsletter form {
	position: relative;
	margin-top: 20px;
}

.newsletter .newsletter-input {
	appearance: none;
	-webkit-appearance: none;
	border: 1px solid #fff;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	color: #202020;
	outline: none;
	font-weight: 400;
	letter-spacing: 1px;
	font-size: 13px;
	padding: 12px 15px;
	transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	-webkit-transition: all 0.2s ease 0s;
	-o-transition: all 0.2s ease 0s;
	display: inline-block;
}

.newsletter .newsletter-input, .newsletter .newsletter-input:focus {
	width: 100%;
	border-top: 0px none;
	border-left: 0px none;
	border-right: 0px none;
	padding-right: 40px !important;
	background: none;
	border-radius: 0;
	border: 1px solid #B1AFAF;
	color: #7f7f7f;
}
.newsletter .newsletter-btn {
	position: absolute;
	top: 0px;
	right: 0px;
	font-size: 18px;
	background: #1fcab8;
	line-height: 46px;
	border-radius: 0;
	width: 49px;
}

/*project*/
#project-section .italic {
	margin-bottom: 8px;
}
#project-section .grid figure {
	float: none
}
#project-section:hover .owl-prev, #project-section:hover .owl-next {
	width: 40px;
}
/*======================*/
.block_wrapper{
	overflow: hidden;
	transform:translateZ(0);
	-webkit-transform:translateZ(0);
}
.box-block {
	border: 1px solid #ddd;
}
.title-box {
	position: relative;
	padding-left: 70px;
}
.box-icon {
	position: absolute;
	top: 0;
	left: 0;
}
.box-icon {
	color: #4b4e53;
	font-size: 54px;
	transition: all 0.1s ease 0s;
	-webkit-transition: all 0.1s ease 0s;
}
.box-block:hover .box-icon {
	font-size: 62px;
}
.title-box h3 {

	color: #4b4e53;
	line-height: 2;
	font-size: 18px;
	margin: 0;
}
.title-box p {
	margin-bottom: 0;
}
.our-point {
	padding: 0 0 0 20px;
}
.our-point li {
	list-style: none;
	margin-bottom: 10px;
	color: rgba(0, 0, 0, 0.61);
}
.our-point li i {
	color: rgba(0, 0, 0, 0.61);
}
.our-vision p {
	font-size: 17px;
	line-height: 1.65;
}
/*  Contact Page   ||-----------*/
.map {
	width: 100%;
	height: 450px;
}
#map {
	height: 100%;
}
#success {
	display: none;
	position: absolute;
	top: -76px;
	left: 0;
	width: 100%
}
.dark-translucent-bg {
	border-top: none;
	border-bottom: none;
	position: absolute;
	left: 0;
	top: 0 !important;
	width: 100%;
	height: 100%;
	z-index: 9;
}
.dark-translucent-bg {
	background-color: rgba(0,0,0,.4);
}
.contact-form {
	position: relative;
	background: #fff;
	text-align: center;
}
.contact-form input[type="text"], .contact-form textarea {
	padding-right: 30px;
	border: 1px solid #DEDEDE;
	margin-bottom: 0;
	font-size: 14px;
}
form .error {
	border-color: #e1534f !important;
}
.contact-form textarea {
	height: 202px;
}
.contact-form input[type="text"] {
	display: block;
	height: 46px;
	margin-bottom: 32px;
	width: 100%;
	font-size: 14px;
	padding: 0 15px;
	border: 1px solid #e5e5e5;
	color: #878787;
	background: transparent;
	-webkit-appearance: none;
	border-radius: 0;
}
.contact-form input[type="text"]:focus, .contact-form textarea:focus {
	border: 1px solid #1fcab8;
}
.i-block {
	display: inline-block;
}
.icon-circle {
	font-size: 50px;
	border: 1px solid #d5d5d5;
	height: 89px;
	width: 89px;
	text-align: center;
	line-height: 89px;
	margin: 0 auto;
	border-radius: 100%;
	display: block;
}
.contact .icon-circle {
	border: 1px solid #1fcab8;
	color: #1fcab8;
}
.mapmarker .ion-ios-location {
	color: #1fcab8;
	font-size: 50px;
}
@media (max-width: 767px) {
	.inner-intro .container {
		width: 100%;
		max-width: 720px;
		text-align: center;
	}
}
/*  Preloader   ||-----------*/
#preloader {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999999;
	background: #1fcab8;
}
.sk-circle {
	width: 80px;
	height: 80px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}
.sk-circle .sk-child {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.sk-circle .sk-child:before {
	content: '';
	display: block;
	margin: 0 auto;
	width: 15%;
	height: 15%;
	background-color: #fff;
	border-radius: 100%;
	-webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
	animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
	-webkit-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	transform: rotate(30deg);
}
.sk-circle .sk-circle3 {
	-webkit-transform: rotate(60deg);
	-ms-transform: rotate(60deg);
	transform: rotate(60deg);
}
.sk-circle .sk-circle4 {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}
.sk-circle .sk-circle5 {
	-webkit-transform: rotate(120deg);
	-ms-transform: rotate(120deg);
	transform: rotate(120deg);
}
.sk-circle .sk-circle6 {
	-webkit-transform: rotate(150deg);
	-ms-transform: rotate(150deg);
	transform: rotate(150deg);
}
.sk-circle .sk-circle7 {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
.sk-circle .sk-circle8 {
	-webkit-transform: rotate(210deg);
	-ms-transform: rotate(210deg);
	transform: rotate(210deg);
}
.sk-circle .sk-circle9 {
	-webkit-transform: rotate(240deg);
	-ms-transform: rotate(240deg);
	transform: rotate(240deg);
}
.sk-circle .sk-circle10 {
	-webkit-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg);
}
.sk-circle .sk-circle11 {
	-webkit-transform: rotate(300deg);
	-ms-transform: rotate(300deg);
	transform: rotate(300deg);
}
.sk-circle .sk-circle12 {
	-webkit-transform: rotate(330deg);
	-ms-transform: rotate(330deg);
	transform: rotate(330deg);
}
.sk-circle .sk-circle2:before {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}
.sk-circle .sk-circle3:before {
	-webkit-animation-delay: -1s;
	animation-delay: -1s;
}
.sk-circle .sk-circle4:before {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}
.sk-circle .sk-circle5:before {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}
.sk-circle .sk-circle6:before {
	-webkit-animation-delay: -0.7s;
	animation-delay: -0.7s;
}
.sk-circle .sk-circle7:before {
	-webkit-animation-delay: -0.6s;
	animation-delay: -0.6s;
}
.sk-circle .sk-circle8:before {
	-webkit-animation-delay: -0.5s;
	animation-delay: -0.5s;
}
.sk-circle .sk-circle9:before {
	-webkit-animation-delay: -0.4s;
	animation-delay: -0.4s;
}
.sk-circle .sk-circle10:before {
	-webkit-animation-delay: -0.3s;
	animation-delay: -0.3s;
}
.sk-circle .sk-circle11:before {
	-webkit-animation-delay: -0.2s;
	animation-delay: -0.2s;
}
.sk-circle .sk-circle12:before {
	-webkit-animation-delay: -0.1s;
	animation-delay: -0.1s;
}
 @-webkit-keyframes sk-circleBounceDelay {
 0%, 80%, 100% {
 -webkit-transform: scale(0);
 transform: scale(0);
}
40% {
 -webkit-transform: scale(1);
 transform: scale(1);
}
}
 @keyframes sk-circleBounceDelay {
 0%, 80%, 100% {
 -webkit-transform: scale(0);
 transform: scale(0);
}
40% {
 -webkit-transform: scale(1);
 transform: scale(1);
}
}
/* ==============================
  20. Side Bar Widget styles
============================== */

.single-sidebar-widget ul {
	list-style: none;
	padding-left: 0;
}
.single-sidebar-widget {
	margin-bottom: 50px;
}
.single-sidebar-widget:last-child {
	margin-bottom: 0;
}
.single-sidebar-widget .sec-title {
	margin-bottom: 30px;
}
.single-sidebar-widget .sec-title h2 {
	font-size: 20px;
	font-family: 'Oswald', sans-serif;
}
.single-sidebar-widget .sec-title {
	font-size: 15px;
	font-weight: 600;
}
.single-sidebar-widget .sec-title h2:after {
	width: 35px;
}
.single-sidebar-widget .contact-form input, .single-sidebar-widget .contact-form .select-menu + .ui-selectmenu-button {
	height: 40px;
}
.single-sidebar-widget .contact-form .select-menu + .ui-selectmenu-button {
	margin-bottom: 2px;
}
.single-sidebar-widget .contact-form .select-menu + .ui-selectmenu-button .ui-selectmenu-text {
	line-height: 40px;
}
.single-sidebar-widget .dwnld-broucher a {
	text-transform: uppercase;
	color: #08ADD0;
	font-weight: 600;
	margin-top: 30px;
	font-size: 12px;
	display: inline-block;
}
.single-sidebar-widget .special-links li:last-child {
	margin-bottom: 0;
}
.single-sidebar-widget .special-links li a {
	background: #f9f9f9;
	color: #323232;
	border: 1px solid #e9e9e9;
	font-weight: 600;
	text-transform: uppercase;
	display: block;
	margin-bottom: 5px;
	line-height: 50px;
	position: relative;
	padding: 0 20px;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
	position: relative;
}
.single-sidebar-widget .special-links li:hover a:after, .single-sidebar-widget .special-links li.active a:after {
	color: inherit;
}
.single-sidebar-widget .special-links li a:after {
	content: '\f101';
	font-family: 'FontAwesome';
	position: absolute;
	top: 0;
	right: 20px;
	line-height: 50px;
	color: #6A6969;
	font-weight: normal;
}
.single-sidebar-widget .special-links li a:before {
	content: '\f0da';
	font-family: 'FontAwesome';
	position: absolute;
	top: 0;
	left: -1px;
	color: #fab702;
	font-size: 0px;
	line-height: 50px;
	opacity: 0;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
	border-left: 4px solid #fab702;
}
.single-sidebar-widget .special-links li:hover a, .single-sidebar-widget .special-links li a.active {
	background: #fff;
	color: #fab702;
}
.single-sidebar-widget .special-links li a.active:after{
	color: #fab702;
}
.single-sidebar-widget .special-links li a:hover:before, .single-sidebar-widget .special-links li a.active:before {
	opacity: 1;
}
.search-box placeholder {
	color: #000;
}
.single-sidebar-widget .search-box form {
	background: #e5e5e5;
	width: 100%;
	height: 48px;
	border: 1px solid #e9e9e9;
}
.single-sidebar-widget .search-box form input {
	padding-left: 30px;
	border: none;
	outline: none;
	height: 100%;
	color: rgba(255, 255, 255, 0.5);
	width: calc(100% - 55px);
	background-color: transparent;
}
.single-sidebar-widget .search-box form input::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: rgba(255, 255, 255, 0.5);
 opacity: 1;
}
.single-sidebar-widget .search-box form input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: rgba(255, 255, 255, 0.5);
 opacity: 1;
}
.single-sidebar-widget .search-box form input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgba(255, 255, 255, 0.5);
 opacity: 1;
}
.single-sidebar-widget .search-box form input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(255, 255, 255, 0.5);
}
.single-sidebar-widget .search-box form input:placeholder-shown {
  /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color: rgba(186, 185, 185, 1);
}
.single-sidebar-widget .search-box form button {
	position: relative;
	left: 2px;
	width: 50px;
	background: #fab702;
	color: #000000;
	font-size: 16px;
	padding: 11px 0px;
	border: none;
	outline: none;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}
.single-sidebar-widget .search-box form button:hover {
	background: #1FB5C7;
}
.single-sidebar-widget .search-box form button:hover i {
	color: #fff;
}
.single-sidebar-widget .search-box form button:hover:after {
	background: #1FB5C7;
}
.single-sidebar-widget .search-box form button i {
	position: relative;
	z-index: 2;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}
.single-sidebar-widget .categories ul li:last-child a {
	border: none;
}
.single-sidebar-widget .categories ul li a {
	color: #898989;
	text-transform: capitalize;
	line-height: 42px;
	display: block;
	border-bottom: 1px solid #E6E6E6;
	position: relative;
}
.single-sidebar-widget .categories ul li a:after {
	content: '\f105';
	font-family: 'FontAwesome';
	color: #C8C8C8;
	position: absolute;
	top: 0;
	right: 0;
}
.single-sidebar-widget .popular-post .img-cap-effect .img-box .img-caption:before {
	border-width: 2px;
}
.single-sidebar-widget .popular-post li {
	margin-bottom: 30px;
}
.single-sidebar-widget .popular-post li:last-child {
	margin-bottom: 0;
}
.single-sidebar-widget .popular-post .img-box, .single-sidebar-widget .popular-post .content {
	display: table-cell;
	vertical-align: middle;
}
.single-sidebar-widget .popular-post .img-box {
	width: 110px;
}
.single-sidebar-widget .popular-post .content {
	padding-left: 30px;
}
.single-sidebar-widget .popular-post .content a h4 {
	font-family: 'Open Sans', sans-serif;
	color: #242424;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 500;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}
.single-sidebar-widget .popular-post .content a h4:hover {
	color: #1FB5C7;
}
.single-sidebar-widget .popular-post .content p {
	color: #8E8D8D;
	font-size: 13px;
	line-height: 20px;
	margin: 0;
}
.single-sidebar-widget .popular-post .content span {
	color: #1CBAC8;
	font-size: 13px;
	display: block;
	margin-top: 4px;
	font-weight: 500;
}
.single-sidebar-widget .text-box p {
	color: #8E8D8D;
}
.single-sidebar-widget .insta-feed ul {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.single-sidebar-widget .insta-feed ul .img-cap-effect .img-box .img-caption:before {
	border-width: 2px;
}
.single-sidebar-widget .insta-feed {
	font-size: 0;
	display: inline-block;
}
.single-sidebar-widget .insta-feed img {
	max-width: 100%;
	display: inline-block;
	font-size: 0;
	margin-bottom: 1px;
	margin-right: 1px;
}
.single-sidebar-widget .tag-cloud {
	font-size: 0;
	margin-left: -5px;
	margin-right: -5px;
}
.single-sidebar-widget .tag-cloud li {
	display: inline-block;
}
.single-sidebar-widget .tag-cloud li a {
	display: block;
	color: #787878;
	text-transform: uppercase;
	border: 1px solid #EAEAEA;
	border-radius: 20px;
	padding: 7px 22px;
	font-size: 12px;
	margin: 0 5px;
	margin-bottom: 10px;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}
.single-sidebar-widget .tag-cloud li a:hover {
	background: #E5E5E5;
	color: #787878;
	border-color: #E5E5E5;
}
.single-client-box {
	margin-bottom: 50px;
}
.single-client-box:last-child {
	margin-bottom: 0;
}
.single-client-box .icon-box, .single-client-box .content {
	display: table-cell;
	vertical-align: middle;
}
.single-client-box .icon-box {
	width: 170px;
	text-align: center;
	border-top: 4px solid #1FB5C7;
	border-left: 1px solid #E9E9E9;
	border-bottom: 1px solid #E9E9E9;
}
.single-client-box .content {
	padding-top: 30px;
	padding-bottom: 30px;
	padding-right: 30px;
	padding-left: 30px;
	border-right: 1px solid #E9E9E9;
	border-bottom: 1px solid #E9E9E9;
	border-top: 1px solid #E9E9E9;
}
.single-client-box .content h3 {
	font-size: 18px;
	font-weight: bold;
	font-family: 'Alegreya', sans-serif;
	color: #242424;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.single-client-box .content p {
	color: #898989;
	margin: 0;
}
.single-sidebar-widget ul.brochure-btns li a {
	font-family: 'Open Sans', sans-serif;
	color: #404040;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 14px;
	display: block;
	background: #FBFBFB;
	border: 1px solid #EDEDED;
	padding: 12px 20px;
}
.single-sidebar-widget ul.brochure-btns li {
	display: block;
	margin-bottom: 21px;
}
.single-sidebar-widget ul.brochure-btns li a i {
	color: #e94429;
	margin: 0 10px 0;
	font-size: 1.2em;
}
.faq.service-box .panel-group .panel-heading + .panel-collapse > .panel-body {
	padding: 20px 18px;
	background: rgba(242, 237, 233, 0.38)
}
@media (max-width: 480px) {
h1 {
	font-size: 36px;
}
}
/*  Project   ||-----------*/
.filter-button-group {
	list-style: none;
	padding: 0;
	overflow: hidden;
}
.filter-button-group li {
	float: left;
	margin-bottom: 10px;
	margin-right: 20px;
}
.line-btn {
	background: none;
	color: #323232;
	padding: 5px 10px;
	border: 2px solid #e1e1e1;
	display: block;
	cursor: pointer;
	-webkit-transition: all 0.2s linear 0s;
	-moz-transition: all 0.2s linear 0s;
	-ms-transition: all 0.2s linear 0s;
	-o-transition: all 0.2s linear 0s;
	transition: all 0.2s linear 0s;
}
.line-btn:hover, .line-btn.active {
	background: #fab702;
	border: 2px solid #fab702;
	color: #fff;
}
.project-col-3 {
	list-style: none;
	padding-left: 0;
	padding-top: 29px;
	margin-left: -30px;
}
.project-col-3 li {
	float: left;
	padding-left: 30px;
	width: 33.33%;
	margin-bottom: 15px;
}
@media (max-width: 991px) {
.project-col-3 li {
	width: 50%;
}
}
@media (max-width: 767px) {
.project-col-3 li {
	width: 100%;
}
}
/*  Project details   ||-----------*/
.project-details {
	position: relative;
}
.project-info {
	position: absolute;
	top: 80%;
	right: 20px;
	background: #d49c07;
	color: #fff;
	padding: 48px 30px;
	width: 400px;
}
.project-box {
	overflow: hidden;
	width: 100%;
}
.project-info ul, .project-gallery {
	list-style: none;
	padding: 0;
}
.project-info li {
	padding-top: 10px;
}
.project-info strong {
	min-width: 133px;
	display: inline-block;
}
.project-gallery {
	overflow: hidden;
}
.project-gallery li {
	margin-bottom: 20px;
	width: 50%;
	float: right;
	padding-right: 20px;
}
.project-gallery li img {
	width: 100%;
	max-width: none;
}
#related-project .owl-prev, #related-project .owl-next {
	top: -80px;
	right: 0;
	left: auto;
	border: 2px solid #e9e9e9;
	color: #ccc;
	font-size: 22px;
	height: 1.8em;
	line-height: 1.6em;
	padding: 0;
	text-align: center;
	width: 1.8em;
	margin-right: 0;
	margin-left: 0;
	opacity: 1;
	background: none;
}
#related-project .owl-prev {
	right: 50px;
}
#related-project .owl-prev:hover, #related-project .owl-next:hover {
	border: 2px solid #fab702;
	color: #fff;
	background: #fab702;
}
.project-col-3 li.width-2 {
	width: 66.66%;
}
.project-col-3 li.grid-sizer {
	margin-bottom: 0;
}
@media (min-width: 768px) and (max-width: 991px) {
.project-info {
	width: 100%;
}
.project-info {
	position: static;
}
.project-info li {
	float: left;
	width: 50%;
}
.project-gallery {
	margin-left: -20px;
}
.project-gallery li {
	float: left;
	width: 25%;
	padding-right: 0;
	padding-left: 20px;
	margin-bottom: 0;
}
.project-col-3 li.width-2 {
	width: 50%;
}
}
@media (max-width: 767px) {
.project-info {
	width: 100%;
}
.project-info {
	position: static;
}
.project-info li {
	float: none;
}
.project-col-3 li.width-2 {
	width: 100%;
}
.project-gallery li {
	margin-bottom: 0;
}
}
/*Testimonial 2*/
.owl-item {
	cursor: move;
}
.box-width {
	margin: 0 auto;
	text-align: center;
	max-width: 598px;
}
.name-text {
	color: #fff;
	font-size: 14px;
	display: block;
	text-transform: uppercase;
}
.site-text {
	color: #fff;
	font-style: italic;
	font-size: 14px;
}
.panel-group .panel {
	border-radius: 0;
}
.get-touch .contact-form {
	text-align: left;
}
.xs-size {
	position: relative;
	font-size: 16px;
	right: 0;
	top: 0;
	-webkit-transition: all 0.2s linear 0s;
	-ms-transition: all 0.2s linear 0s;
	transition: all 0.2s linear 0s;
}
.btn-text:hover .xs-size {
	top: -6px;
	right: -10px;
}
.date-bg {
	background: #314555;
}
.chooose-box strong {
	display: block;
	margin-bottom: 15px;
}
.chooose-box strong i {
	font-size: 20px;
	margin-right: 10px;
	color: #daa106;
}
#blog-section {
	position: relative;
	overflow: hidden;
}
#blog-section .blog-post .post-more-link {
	float: none !important;
}
.project-info-box li {
	padding-top: 10px;
}
.project-info-box strong {
	min-width: 133px;
	display: inline-block;
}
@media (max-width: 991px) {
.project-info-box {
	padding-left: 26px;
}
.project-info-box strong {
	min-width: 100px;
}
}
.top-btn {
	min-width: 0;
	padding: 0 29px;
	line-height: 50px !important;
	height: 50px;
	margin-left: 20px;
	background: #314555;
}
.top-btn:hover, .header-1 .icons-hover-black i:hover {
	background: #a57a06;
}
.half-width {
	overflow: hidden;
}
.none-responsive {
	max-width: none;
}
.bg-img-1{
background: url(../images/new_slider02.jpg) 0 0 no-repeat; 
background-size:cover
}

.bg-img-2{
background: url(../images/slider-home-construction-02.jpg) 0 0 no-repeat; 
background-size:cover
}
@import url('css/theme.css');
